mqtt:
  enabled: true
  host: "{{ mqtt_host }}"
  user: "{{ mqtt_user}}"
  password: "{{ mqtt_password }}"

ui:
  time_format: 24hour

detectors:
  coral:
    type: edgetpu
    device: pci

detect:
  enabled: true
  fps: 10

# model:
#   path: /config/mobilenet_v2/1.tflite
#   labelmap_path: /config/mobilenet_v2/imagenet_labels.txt
#   width: 224
#   height: 224

objects:
  track:
    - person
    - cat
    - bird
    - dog
    - car
    - bicycle
    - motorcycle

record:
  enabled: true
  retain:
    days: 2
    mode: all
  preview:
    # Optional: Quality of recording preview (default: medium).
    # Options are: very_low, low, medium, high, very_high
    quality: very_high
  events:
    pre_capture: 10
    post_capture: 10
  #   retain:
  #     default: 10
  #     mode: motion

snapshots:
  enabled: true
  bounding_box: true

go2rtc:
  streams:
    cam1:
      - rtsp://admin:{{ admin_password }}@192.168.1.101:554/live0.264
    cam2:
      - rtsp://admin:{{ admin_password }}@192.168.1.102:554/live0.264
    cam3:
      - rtsp://admin:{{ admin_password }}@192.168.1.103:554/live0.264
    cam4:
      - rtsp://admin:{{ admin_password }}@192.168.1.104:554/live0.264
    cam5:
      - rtsp://admin:{{ admin_password }}@192.168.1.105:554/live0.264
    cam6:
      - rtsp://admin:{{ admin_password }}@192.168.1.106:554/live0.264

# Optional: jsmpeg stream configuration for WebUI
# live:
#   height: 1080
#   quality: 1
# birdseye:
#   enabled: true
#   mode: continuous
#   width: 2560
#   height: 1440
#   quality: 1

cameras:
  cam1:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam1
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password }}@192.168.1.101:554/live1.264
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
        - bird
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
  cam2:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam2
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password }}@192.168.1.102:554/live1.264
          roles:
            - detect
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
      threshold: 30
      contour_area: 10
      improve_contrast: 'true'
    zones:
      Parcel:
        coordinates:
          0,0.448,0.221,0.433,0.24,0.527,0.975,0.468,0.985,0.438,1,0.409,1,0.96,0.979,1,0,0.998
        loitering_time: 0
        inertia: 3
      Street:
        coordinates: 0,0.42,0.918,0.38,0.935,0.304,0.659,0.247,0.402,0.237,0.167,0.248,0,0.277
        loitering_time: 0
        inertia: 3
      Sidewalk:
        coordinates: 0,0,1,0,1,0.316,0.857,0.278,0.674,0.244,0.414,0.23,0.198,0.236,0,0.266
        loitering_time: 0
        inertia: 3
    review:
      alerts:
        required_zones: Parcel
  cam3:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam3
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password }}@192.168.1.103:554/live1.264
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
        - bird
    motion:
      mask:
        - 0.75,0,1,0,1,0.056,0.75,0.058
        - 0.619,0.078,0.616,0.1,0.632,0.1,0.631,0.077
        - 0.427,0.461,0.393,0.366,0.424,0.299,0.467,0.356
        - 0.226,0.467,0.277,0.432,0.281,0.309,0.221,0.198,0.163,0.283,0.169,0.434
        - 0.924,0.483,0.927,0.418,1,0.352,1,0.648
      threshold: 20
      contour_area: 10
      improve_contrast: 'true'
    zones:
      Backyard:
        coordinates:
          0.052,0.463,0.186,0.4,0.267,0.42,0.924,0.472,1,0.636,1,1,0.114,1,0.054,0.778,0.015,0.509
        loitering_time: 0
        inertia: 3
      Neighbours:
        coordinates:
          0.279,0.359,0.476,0.297,0.476,0.216,0.513,0.101,0.781,0.105,0.796,0.23,0.794,0.301,0.831,0.302,0.924,0.457,0.275,0.402
        loitering_time: 0
        inertia: 3
    review:
      alerts:
        required_zones:
          - Backyard
          - Neighbours
  cam4:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam4
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password }}@192.168.1.104:554/live1.264
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
  cam5:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam5
          input_args: preset-rtsp-restream
          roles:
            - record
        - path:
            rtsp://192.168.1.105:554/user=admin_password={{ admin_password }}_channel=1_stream=1&onvif=0.sdp?real_stream
          roles:
            - detect
    onvif:
      host: 192.168.1.105
      port: 8899
      user: admin
      password: tlJwpbo6
      # autotracking:
      #   enabled: True
      #   required_zones:
      #     - zone_name
    objects:
      track:
        - person
        - cat
        - dog
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
  cam6:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam6
          input_args: preset-rtsp-restream
          roles:
            - record
        - path:
            rtsp://192.168.1.106:554/user=admin_password={{ admin_password }}_channel=1_stream=1&onvif=0.sdp?real_stream
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
version: 0.14
camera_groups:
  Pulse:
    order: 1
    icon: LuActivity
    cameras:
      - cam1
      - cam2
      - cam3
      - cam4
  Birdseye:
    order: 2
    icon: LuEye
    cameras: birdseye
