mqtt:
  enabled: true
  host: "{{ mqtt_host }}"
  user: "{{ mqtt_user}}"
  password: "{{ mqtt_password }}"

ui:
  time_format: 24hour

detectors:
  coral:
    type: edgetpu
    device: pci

detect:
  enabled: true
  fps: 5

# model:
#   path: /config/mobilenet_v2/1.tflite
#   labelmap_path: /config/mobilenet_v2/imagenet_labels.txt
#   width: 224
#   height: 224

objects:
  track:
    - person
    - cat
    - bird
    - dog
    - car
    - bicycle
    - motorcycle

record:
  enabled: true
  retain:
    days: 28
    mode: all
  preview:
    # Optional: Quality of recording preview (default: medium).
    # Options are: very_low, low, medium, high, very_high
    quality: high
  alerts:
    pre_capture: 10
    post_capture: 10
  detections:
    pre_capture: 10
    post_capture: 10
snapshots:
  enabled: true
  bounding_box: true

go2rtc:
  streams:
    cam1:
      - rtsp://admin:{{ admin_password }}@192.168.1.101:554/live0.264
    cam2:
      - rtsp://admin:{{ admin_password }}@192.168.1.102:554/live0.265
    cam3:
      - rtsp://admin:{{ admin_password }}@192.168.1.103:554/live0.264
    cam4:
      - rtsp://admin:{{ admin_password }}@192.168.1.104:554/live0.264
    # cam5:
    #   - rtsp://admin:{{ admin_password }}@192.168.1.105:554/live0.264
    cam6:
      - rtsp://admin:{{ admin_password }}@192.168.1.106:554/live0.264
    cam7:
      - rtsp://admin:{{ admin_password_2 }}@192.168.1.107:554/stream1
  webrtc:
    candidates:
      - frigate:8555

# Optional: jsmpeg stream configuration for WebUI
# live:
#   height: 1080
#   quality: 1
# birdseye:
#   enabled: true
#   mode: continuous
#   width: 2560
#   height: 1440
#   quality: 1

cameras:
  cam1:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam1
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password }}@192.168.1.101:554/live1.264
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
        - bird
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
  cam2:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam2
          input_args: preset-rtsp-restream
          roles:
            - record
        - path:
            rtsp://192.168.1.102:554/user=admin_password={{ admin_password }}_channel=1_stream=1&onvif=0.sdp?real_stream
          roles:
            - detect
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
      threshold: 30
      contour_area: 30
      improve_contrast: true
    zones:
      Street:
        coordinates: 0,0.623,1,0.35,1,0.258,0.474,0.317,0,0.442
        inertia: 3
      Sidewalk:
        coordinates: 0,0,1,0,1,0.243,0.475,0.3,0,0.42
        inertia: 3
      Front_yard:
        coordinates: 0,0.725,1,0.401,1,1,0,1
        inertia: 2
        objects: person
        loitering_time: 0
    review:
      alerts:
        required_zones: Front_yard
    objects:
      mask: 0.313,0.493,0.313,0.549,0.329,0.548,0.332,0.49
      filters:
        person:
          # Optional: minimum width*height of the bounding box for the detected object (default: 0)
          min_area: 425
  cam3:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam3
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password }}@192.168.1.103:554/live1.264
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
        - bird
    motion:
      mask:
        - 0.75,0,1,0,1,0.056,0.75,0.058
        - 0.619,0.078,0.616,0.1,0.632,0.1,0.631,0.077
        - 0.28,0.479,0.246,0.384,0.277,0.317,0.32,0.374
        - 0.095,0.515,0.146,0.48,0.15,0.357,0.09,0.246,0.032,0.331,0.038,0.482
        - 0.805,0.459,0.809,0.351,0.914,0.36,1,0.339,1,0.648
      threshold: 20
      contour_area: 10
      improve_contrast: true
    zones:
      Backyard:
        coordinates: 0,0.495,0.128,0.414,0.804,0.438,1,0.636,1,1,0,1
        loitering_time: 0
        inertia: 3
        filters:
          person:
            # Optional: minimum width*height of the bounding box for the detected object (default: 0)
            min_area: 425
      Neighbours:
        coordinates:
          0.319,0.242,0.36,0.125,0.635,0.111,0.647,0.25,0.646,0.305,0.697,0.312,0.804,0.427,0.125,0.41
        loitering_time: 0
        inertia: 3
    review:
      alerts:
        required_zones:
          - Backyard
          - Neighbours
  cam4:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam4
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password }}@192.168.1.104:554/live1.264
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
  # cam5:
  #   enabled: true
  #   ffmpeg:
  #     hwaccel_args: preset-vaapi
  #     inputs:
  #       - path: rtsp://127.0.0.1:8554/cam5
  #         input_args: preset-rtsp-restream
  #         roles:
  #           - record
  #       - path:
  #           rtsp://192.168.1.105:554/user=admin_password={{ admin_password }}_channel=1_stream=1&onvif=0.sdp?real_stream
  #         roles:
  #           - detect
  #   onvif:
  #     host: 192.168.1.105
  #     port: 8899
  #     user: admin
  #     password: tlJwpbo6
  #     # autotracking:
  #     #   enabled: True
  #     #   required_zones:
  #     #     - zone_name
  #   objects:
  #     track:
  #       - person
  #       - cat
  #       - dog
  #   motion:
  #     mask: 0.75,0,1,0,1,0.048,0.75,0.046
  cam6:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam6
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password }}@192.168.1.106:554/live1.264
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
    motion:
      mask: 0.75,0,1,0,1,0.048,0.75,0.046
  cam7:
    enabled: true
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/cam7
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://admin:{{ admin_password_2 }}@192.168.1.107:554/stream0
          roles:
            - detect
    objects:
      track:
        - person
        - cat
        - dog
    zones:
      Street:
        coordinates: 0.655,0.225,1,0.348,1,0.511,0.261,0.225,0.354,0.159
      Sidewalk:
        coordinates: 0.368,0.149,0.402,0.097,0.699,0.117,1,0.203,1,0.328,0.641,0.205
      Front_yard:
        coordinates: 0.232,0.249,1,0.598,1,1,0,1,0,0.386
        inertia: 2
        objects: person
    review:
      alerts:
        required_zones: Front_yard
    motion:
      mask: 0.796,0,0.798,0.054,1,0.056,1,0
version: 0.15-1
camera_groups:
  Pulse:
    order: 1
    icon: LuActivity
    cameras:
      - cam1
      - cam2
      - cam3
      - cam4
      - cam6
      - cam7
  Birdseye:
    order: 2
    icon: LuEye
    cameras: birdseye
